[[include file="head.html"]]
<script id="__init-script-inline-widget__">
//(function(d,t,u,s,e){e=d.getElementsByTagName(t)[0];s=d.createElement(t);s.src=u;s.async=1;e.parentNode.insertBefore(s,e);})(document,'script','//103.80.27.20/php/app.php?widget-init-inline.js');
</script>
<style>
.kefuOnline{position: relative;width: 100%;color: #333333;background: #fff;}
.kefuOnlineCon{position: relative;width: 100%;padding-top:4rem;}
.kefuOnlineCon .txtbox{padding: 0 3%;font-size: 1.1rem;line-height: 1.8rem;}
.kefuOnlineCon .txtbox h3{color: #019aff;padding: 1.5rem 0 0.5rem;font-size: 1.3rem;}
.kefuOnlineCon .txtbox p{margin-bottom: 0.4rem;}
.kefuOnlineCon .qrcode{width: 45%;margin: 2rem auto;}
.kefuOnlineCon .welcomeTxt{text-align: center;}
.kefuOnlineCon .welcomeTxt p{background: #eef2f5;display: inline-block;padding: 0.3rem 0.8rem;border-radius: 0.2rem;}
</style>
<div style="height:4rem;"></div>
<div class="kefuOnline">
	<!--
	<div class="HeadTop">
		<p class="Tit">在线客服</p>
		<a href="/?c=Service" class="backBtn"></a>
	</div>
	-->
	<div class="kefuOnlineCon" style=" width: 80%; margin: 0 auto; line-height: 40px; ">
		<h3>USDT跑分流程</h3>
		<p style="height: 10px;margin-bottom:10px;border-bottom: solid 1px #eee"></p>
		<ul>
			<li>1.火币网注册账号并实名</li>
			<li>2.选择OTC交易购买USDT</li>
			<li>3.购买成功后选择提币充值到平台USDT钱包</li>
			<li>4.充值完成，先添加银行卡收款，点击开始接单</li>
			<li>5.充值金额为接单额度，每接一单收益会返回账户</li>
		</ul>
		<p style="height: 10px;margin-bottom:10px;border-bottom: solid 1px #eee"></p>
		<p>说明：USDT充值提现都将以火币网的实时价格计算，会员收益会进入可提现余额，提现额度与接单额度可互转</p>
		<p style="height: 10px;margin-bottom:10px;border-bottom: solid 1px #eee"></p>
		<p>官方咨询QQ：3319704863</p>
	</div>
	
	<!-- 底部导航 -->
	[[include file="menu.html"]]
</div>

[[include file="js.html"]]
<script>
$(function(){
	preventDefault();
});
</script>
[[include file="foot.html"]]