[[include file="head.html"]]
<style>

</style>
<div class="cashOut">
	<div class="HeadTop">
		<p class="Tit">提现</p>
		<a href="/?c=User" class="backBtn"></a>
	</div>
	<div class="cashOutCon">
		<p class="txtline">账号：[[$user.account]]</p>
		[[if 'cnf_xyhk_model'|getConfig eq '是']]
		<p class="txtline">可提余额：[[$user.balance]]</p>
		[[else]]
		<p class="txtline">可提余额：[[$user.balance]] <a href="javascript:;" class="editBtn transToBalance" style="width:6rem;" data-type="1">可提⇄接单</a></p>
		<p class="txtline">接单余额：[[$user.sx_balance]] <a href="javascript:;" class="editBtn transToBalance" style="width:6rem;" data-type="2">接单⇄可提</a></p>
		<p class="txtline">接单冻结：[[$user.fz_balance]]</p>
		[[/if]]
		<p class="txtline">提币地址：[[$banklog.bank_account]]<a href="/?c=User&a=bcard" class="editBtn">修改</a></p>
		<div class="OutNum">提现额度：<div class="inbox"><input type="text" id="money"></div></div>
		<a href="javascript:;" class="cashOutBtn" style="margin-top:1.5rem;">提现</a>
		<div style="padding:1rem 2rem 0;">
			<div style="color:#f60;">单笔提现：[['min_cash_money'|getConfig]] ~ [['max_cash_money'|getConfig]]</div>
			<div style="color:#f60;">[[$cash_time_str]]</div>
		</div>
<!--		<h1>提现明细</h1>-->
<!--		<div class="detailBox">-->
<!--			<table cellpadding="0" cellspacing="0">-->
<!--				<thead>-->
<!--					<tr>-->
<!--						<th>时间</th>-->
<!--						<th>金额</th>-->
<!--						<th>实到</th>-->
<!--						<th>状态</th>-->
<!--					</tr>-->
<!--				</thead>-->
<!--				<tbody id="listBox">-->
<!--					&lt;!&ndash;-->
<!--					<tr>-->
<!--						<td>2019-7-18 16:08</td>-->
<!--						<td>668</td>-->
<!--						<td>中国工商银行</td>-->
<!--						<td class="Audited">已审核</td>-->
<!--					</tr>-->
<!--					&ndash;&gt;-->
<!--				</tbody>-->
<!--			</table>-->
<!--			<div class="moreBtn" style="text-align:center;">点击加载更多</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<div class="addIdCodePop">
	<div class="Wrap" style="top:28%;">
		<div class="Con">			
			<div class="ConIn">		
				<p class="Tt">标题</p>
				<div class="Row">
					<p class="lttxt balanceTit">可提余额：</p>
					<div class="inputbox" style="border:1px solid #fff;">
						<span class="balanceFlag" style="line-height:2.4rem;padding:0 0.5rem;color:#f60;margin-right:0.5rem;"></span>
						<span class="transAllBtn" style="border:1px solid #f60;color:#f60;border-radius:0.3rem;padding:0 0.4rem;">全部</span>
					</div>
				</div>
				<div class="Row">
					<p class="lttxt">转出额度：</p>
					<div class="inputbox"><input type="text" id="z_money" placeholder=""></div>
				</div>
				<input type="hidden" id="ptype" value=""/>
				<a href="javascript:;" class="confirmBtn">提交</a>
			</div>
		</div>
		<a href="javascript:;" class="closeBtn"></a>
	</div>
</div>

[[include file="js.html"]]
<script>

$(function(){

	$('.transAllBtn').on('click',function(){
		var balance=$.trim($('.balanceFlag').text());
		$('#z_money').val(balance);
	});

	//余额互转
	$('.transToBalance').on('click',function(){
		var obj=$(this);
		var ptype=obj.attr('data-type');
		var title='';
		if(ptype==1){
			title='可提现余额->接单余额';
			$('.balanceTit').text('可提余额：');
			$('.balanceFlag').text('[[$user.balance]]');
		}else if(ptype==2){
			title='接单余额->可提现余额';
			$('.balanceTit').text('接单余额：');
			$('.balanceFlag').text('[[$user.sx_balance]]');
		}else{
			_alert('未知操作类型');
			return;
		}
		$('.addIdCodePop .Tt').text(title);
		$('#ptype').val(ptype);
		$('.addIdCodePop').fadeIn();
	});
	
	$('.addIdCodePop .closeBtn').on('click',function(){
		$('.addIdCodePop').hide();
	});
	
	$('.confirmBtn').on('click',function(){
		var obj=$(this);
		var ptype=$('#ptype').val();
		var money=$.trim($('#z_money').val());
		if(!money||money<0.01){
			_alert('转出额度不正确');
			return;
		}
		var has_click=obj.attr('has-click');
		if(has_click=='1'){
			return false;
		}else{
			obj.attr('has-click','1');
		}
		ajax({
			url:global.appurl+'c=Finance&a=balanceTrans',
			data:{ptype:ptype,money:money},
			success:function(json){
				if(json.code!=1){
					obj.attr('has-click','0');
					_alert(json.msg);
					return;
				}
				_alert({
					content:json.msg,
					end:function(){
						$('.addIdCodePop .closeBtn').trigger('click');
						location.reload();
					}
				});
			}
		});
	});
	
	////////////////////////////////////////////////////
	
	$('.cashOutBtn').on('click',function(){
		var obj=$(this);
		var money=$.trim($('#money').val());
		
		layer.open({
			//title:'',
			content:'您确定要提现么？',
			style:'width:60%',
			btn:['确定','取消'],
			yes:function(idx){
				layer.close(idx);
				ajax({
					url:global.appurl+'c=Finance&a=cashAct',
					data:{money:money},
					success:function(json){
						if(json.code!=1){
							_alert(json.msg);
							return;
						}
						_alert({
							content:json.msg,
							end:function(){
								location.reload();
							}
						});
					}
				});
			}
		});
	});
	
	
	
	//获取提现记录
    $('.moreBtn').on('click',function(){
        dataPage({
            url:global.appurl+'c=Finance&a=cashlog_list',
            data:{},
            success:function(json){
                var html='';
                for(var i in json.data.list){
                    var item=json.data.list[i];
                    html+='<tr>';
                        html+='<td>'+item.create_time_flag+'</td>';
                        html+='<td>'+item.money+'</td>';
                        html+='<td>'+item.real_money+'</td>';
                        html+='<td>'+item.status_flag+'</td>';
                    html+='</tr>';
                }
                $('#listBox').append(html);
            }
        });
    });

    $('.moreBtn').trigger('click');
	
});
</script>
[[include file="foot.html"]]