[[include file="head.html"]]
<style>
.bannerItem{margin-right:5px;position:relative;}
.bannerItem span{position:absolute;top:0px;right:0px;line-height:20px;font-size:28px;}

.orderDetailCon{line-height:2.2rem;}
</style>
<div class="orderDetail">
	<!-- 顶部 -->
	<div class="HeadTop">
		<p class="Tit">订单详情</p>
		<a href="/?c=Finance&a=pay" class="backBtn"></a>
	</div>
	<div class="orderDetailCon">
		<p>订单号：[[$paylog.order_sn]]</p>

		<p >所属代理：[[if $paylog.a_account]][[$paylog.a_account]]-[[$paylog.a_nickname]][[else]]平台[[/if]]</p>
		<p>充值账号：[[$paylog.account]]</p>
		<p>下单时间：[[$paylog.create_time]]</p>
		<p>订单状态：<b>[[$paylog.pay_status_flag]]</b></p>
		<p>收款姓名：[[$paylog['skbank'].bank_realname]]</p>
		<p>提交充值金额：[[$paylog.money]]</p>
		<p>火币实时价格：[[$paylog.otcbuy]]</p>
		<p style="font-weight:bold;color: red">实际转币金额：[[$paylog.usdt]]</p>
		<p style="font-weight:bold;">充值钱包地址：[[$paylog['skbank'].bank_account]]</p>
		<p>----------</p>
		<h3>充值教程：</h3>
		<p>1.火币网注册实名 2.OTC购买USDT 3.选择提币到上面地址</p>
		[[if $paylog.pay_status eq 1]]
		<a href="javascript:;" class="fillCashBtn" style="margin-top:1rem;">我已付款</a>
		[[/if]]
	</div>
</div>

[[include file="js.html"]]
<script src="/public/js/lrz.all.bundle.js"></script>
<script>
preventDefault();
$(function(){


	$('#fileUploadH5Btn').on('click',function(){
		$('#fileUploadH5').trigger('click');
	});
	

	$('body').on('click','.bannerItem span',function(){
		var obj=$(this);
		obj.parent('.bannerItem').remove();
		if($('.bannerItem').length>=3){
			$('#fileUploadH5Btn').hide();
		}else{
			$('#fileUploadH5Btn').show();
		}
	});
	
	$('body').on('click','.bannerItem img',function(){
		var obj=$(this);
		var src=obj.attr('src');
		layer.open({
			content:'<div style="width:100%;text-align:center;"><img src="'+src+'"/></div>',
			style:'width:80%',
			btn:['关闭'],
			yes:function(idx){
				layer.close(idx);
			}
		});
	});


	
	$('.fillCashBtn').on('click',function(){
		var obj=$(this);
		var osn='[[$paylog.order_sn]]';
		layer.open({
			//title:'',
			content:'您确定提交已付款状态么？',
			style:'width:65%',
			btn:['确定','取消'],
			yes:function(idx){
				layer.close(idx);
				ajax({
					url:global.appurl+'c=Finance&a=payUpdate',
					data:{osn:osn},
					success:function(json){
						if(json.code!=1){
							_alert(json.msg);
							return;
						}
						_alert({
							content:json.msg,
							end:function(){
								location.reload();
							}
						});
					}
				});
			}
		});
	});
	
});
</script>
[[include file="foot.html"]]