[[include file="head.html"]]
<style>
.CommissionCon .detailBox tr td{line-height:2rem;padding:4px 8px;}
.viewBtn{padding:2px 8px;border:1px solid #fc744d;color:#fc744d;border-radius:3px;}
</style>
<div class="Commission">
	<div class="HeadTop">
		<p class="Tit">充值记录</p>
		<a href="/?c=Finance&a=pay" class="backBtn"></a>
	</div>
	<div class="CommissionCon">
		<div class="detailBox">
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th>时间/单号</th>
						<th>金额</th>
						<th>状态</th>
						<th>详情</th>
					</tr>
				</thead>
				<tbody id="listBox">

				</tbody>
			</table>
			<div class="moreBtn" style="text-align:center;">点击加载更多</div>
		</div>
	</div>
</div>

[[include file="js.html"]]
<script>

$(function(){
	
	//获取充值记录
    $('.moreBtn').on('click',function(){
        dataPage({
            url:global.appurl+'c=Finance&a=paylog_list',
            data:{},
            success:function(json){
                var html='';
                for(var i in json.data.list){
                    var item=json.data.list[i];
                    html+='<tr>';
                        html+='<td>'+item.create_time_flag+'<br>'+item.order_sn+'</td>';
                        html+='<td>'+item.money+'</td>';
                        html+='<td>'+item.pay_status_flag+'</td>';
                        html+='<td><a href="/?c=Finance&a=payInfo&osn='+item.order_sn+'" class="viewBtn">查看</a></td>';
                    html+='</tr>';
                }
                $('#listBox').append(html);
            }
        });
    });

    $('.moreBtn').trigger('click');
	
});
</script>
[[include file="foot.html"]]