[[include file="head.html"]]
<style type="text/css">
*{margin: 0;padding: 0;}
body,html{position: relative;width: 100%;height: 100%;max-width: 640px;margin: 0 auto;background: #f7f7f7;font-family: "微软雅黑","宋体","Arial";}
img{display: block;width: 100%;height: auto;}
a{text-decoration: none;}


.payPage{position: relative;width: 100%;font-size: 1em;background: #f4f7fc;height: 100%;overflow-x: hidden;}
.payPage .HeadTop{background: #0aabf1;text-align: center;color: #fff;font-size: 1.2em;height: 2.5em;line-height: 2.5em;}
.payPage .paylogo{text-align: center;margin-top: 4em;}
.payPage .paylogo p{width: 30%;display: inline-block;vertical-align: middle;margin: 0 8%;}
.payPage .pricebox{color: #f70201;text-align: center;margin: 0.6rem 0 0.2em;}
.payPage .pricebox .in{display: inline-block;position: relative;}
.payPage .price{font-size: 1.6em;}
.payPage .clickcopy{position: absolute;width: 5em;bottom: 0.3em;right: -6em;text-align: left;color: #f70201;font-size: 0.8em;}
.payPage .tipstxt{color: #f70201;text-align: center;}
.payPage .code{width: 47%;margin: 1em auto 0.3em;}
.payPage .username{text-align: center;font-size: 1.1em;}
.payPage .payOverBtn{display: block;width: 50%;margin: 1em auto 0.5em;color: #fff;background: #f58807;text-align: center;padding: 0.6em 0;}
.payPage .openAlipayBtn{display: block;width: 50%;margin: 0 auto;margin-top:1em;color: #fff;background: #0aabf1;text-align: center;padding: 0.6em 0;}
.payPage .txtbox{border: 1px dashed #888888;width: 88%;margin: 1em auto 0;padding: 0.8em 2%;}
.payPage .txtbox p{line-height: 1.5em;padding-bottom: 0.8em;font-size: 1em;}
.payPage .c_red{color: #f70201;}
.payPage .c_blue{color: #01a0e9;}
.payPage .c_green{color: #07b043;}

.klTip{text-align:center;font-size:1.6rem;padding-top:1rem;color:#f30;}

</style>
<div class="payPage">
	<div class="HeadTop">聚合码</div>
	<div class="paylogo">
		<p><img src="public/home/images/ptype/0107/logo1.png"></p>
		<p><img src="public/home/images/ptype/0107/logo2.png"></p>
	</div>
	<div class="pricebox">
		<div class="in cpBtn" data-clipboard-text="[[$info.money|floatval]]">		
			<p class="price">[[$info.money|floatval]]</p>
			<a href="javascript:;" class="clickcopy" >点击复制</a>
		</div>
	</div>
	<p class="tipstxt">请务必按照以上金额支付,金额不对不转账</p>
	<div class="code"><img src="[[$info.ma_qrcode]]"></div>
	<p class="username">姓名：[[$info.ma_realname2]]</p>
	[[if $info.pay_status eq 9]]
	<div class="klTip">订单已支付</div>
	[[elseif $info.pay_status eq 2]]
	<div class="klTip">订单已提交</div>
	[[elseif $info.pay_status eq 3]]
	<div class="klTip">订单已超时</div>
	[[elseif $info.pay_status eq 4]]
	<div class="klTip">订单已取消</div>
	[[else]]
	<a href="javascript:;" class="payOverBtn timeBox"><!--剩余07:80,点我已支付--></a>
	[[/if]]
	
	[[if $info.pay_status lt 3]]
	<a href="javascript:;" class="openAlipayBtn" data-clipboard-text="[[$info.money|floatval]]">复制金额并打开支付宝</a>
	[[/if]]
	<div class="txtbox">
		<p>1.点击"复制金额并打开支付宝",在输入金额处<span class="c_red">长按</span>,选择"<span class="c_red">粘贴</span>",确定支付。</p>
		<p>2.点击"复制金额",截图保存二维码,打开<span class="c_blue">支付宝</span>或<span class="c_green">微信</span>的扫一扫,选择该二维码,在输入金额处<span class="c_red">长按</span>,选择"<span class="c_red">粘贴</span>",确定支付。</p>
	</div>

</div>

[[include file="js.html"]]
<script src="public/js/clipboard.min.js"></script>
<script>
$(function(){

	var clipboard = new ClipboardJS('.cpBtn');
    clipboard.on('success', function (e) {
        _alert({
			content:"金额复制成功！"
		});
    });
	
	var clipboard2 = new ClipboardJS('.openAlipayBtn');
    clipboard2.on('success', function (e) {
        _alert({
			content:"金额复制成功，即将跳转支付宝",
			end:function(){
				var url='[[$info.zz_url]]';
				//window.open(url,'_blank');
				location.href=url;
			}
		});
    });
	
	/////////////////////////////////////////////
	var d_time='[[$info.d_time]]'*1;
	var timer=null;
	if(d_time>0){
		setTimer();
	}else{
		$('.time').hide().after('<div class="klTip">订单已超时</div>');
		$('.cpBtn3').hide();
	}
	
	function setTimer(){
		if(timer){
			clearInterval(timer);
		}
		var d_time_flag=secTrans(d_time);
		$('.timeBox').html('剩余'+d_time_flag+'，点我已付款').css({opacity:1});
		timer=setInterval(function(){
			d_time--;
			if(d_time<0){
				location.reload();
				clearInterval(timer);
			}
			var d_time_flag=secTrans(d_time);
			$('.timeBox').html('剩余'+d_time_flag+'，点我已付款').css({opacity:1});
		},1000);
	}
	
	function secTrans(sec){
		var d_min=Math.floor(sec/60);
		var d_sec=sec%60;
		if(d_min<0){
			d_min=0;
		}
		if(d_min<10){
			d_min='0'+d_min;
		}
		if(d_sec<0){
			d_sec=0;
		}
		if(d_sec<10){
			d_sec='0'+d_sec;
		}
		var d_time_flag=d_min+':'+d_sec;
		return d_time_flag;
	}
	
	///////////////////////////////////////////////////
	
	$('.timeBox').on('click',function(){
		var obj=$(this);
		var osn='[[$info.order_sn]]';
		layer.open({
			//title:'',
			content:'如果您已支付请确定提交',
			style:'width:62%',
			btn:['确定','取消'],
			yes:function(idx){
				layer.close(idx);
				ajax({
					url:global.appurl+'c=Pay&a=infoAct',
					data:{osn:osn},
					success:function(json){
						if(json.code!=1){
							_alert(json.msg);
							return;
						}
						_alert({
							content:json.msg,
							end:function(){
								location.reload();
							}
						});
					}
				});
			}
		});
	});
	
});
</script>
[[include file="foot.html"]]