[[include file="head.html"]]
<div class="Register">
	<div class="RegisterCon" style="padding-top:11rem;">
		<div class="inputbox phone"><input type="text" id="phone" placeholder="请填写手机账号"></div>
		<div class="inputbox password"><input type="password" id="pwd" placeholder="请填写登录密码"></div>
		<div class="inputbox inviteCode"><input type="text" id="icode" value="[[$smarty.get.icode]]" placeholder="请填写邀请码"></div>
		<div class="inputbox inviteCode"><input type="text" id="realname" placeholder="请填写姓名"></div>
		<!--
		<div class="inputbox Vecode"><input type="text" id="idcard" placeholder="请填写身份证号"></div>
		-->
		<p class="bottxt">已有账号？<a href="/?c=Login">立即登录</a></p>
		<a href="javascript:;" class="registerBtn">注册</a>
	</div>
</div>

[[include file="js.html"]]
<script>

$('.getVecodeBtn p').on('click',function(){
	var obj=$(this);
	var phone=$.trim($('#phone').val());
	if(!phone){
		_alert('请填写手机号');
		return false;
	}
	if(obj.attr('is-timer')){
		return true;
	}
	ajax({
		url:global.appurl+'a=getPhoneCode',
		data:{phone:phone,stype:1},
		success:function(json){
			if(json.code!=1){
				_alert(json.msg);
				return;
			}
			smsTimer(obj);
		}
	});
});

var appurlDownload='[["cnf_download_appurl"|getConfig]]';

$('.registerBtn').on('click',function(){
	var obj=$(this);
	var phone=$.trim($('#phone').val());
	var icode=$.trim($('#icode').val());
	var nickname=$.trim($('#nickname').val());
	var pwd=$.trim($('#pwd').val());
	var realname=$.trim($('#realname').val());
	var idcard=$.trim($('#idcard').val());
	//var pwd_ck=$.trim($('#pwd_ck').val());
	var has_click=obj.attr('has-click');
	if(has_click=='1'){
		return false;
	}else{
		obj.attr('has-click','1');
	}
	pwd=md5(pwd);
	ajax({
		url:global.appurl+'c=Login&a=registerAct',
		data:{phone:phone,nickname:nickname,password:pwd,icode:icode,realname:realname,idcard:idcard},
		success:function(json){
			if(json.code!=1){
				obj.attr('has-click','0');
				_alert(json.msg);
				return;
			}
			_alert({
				content:json.msg,
				end:function(){
					//location.href='/?c=Login';
					location.href=appurlDownload;
				}
			});
		}
	});
});

</script>
[[include file="foot.html"]]