<!-- 底部导航栏 -->
<div class="BotMenu">
	<div class="wrap">
		<a href="/?c=Order" class="Link_1 [[if $smarty.const.CONTROLLER_NAME eq 'Order']]on[[/if]]">
			<div class="ico"></div>
			<p>订单</p>
		</a>
		<a href="/?c=Skma" class="Link_2 [[if $smarty.const.CONTROLLER_NAME eq 'Skma']]on[[/if]]">
			<div class="ico"></div>
			<p>收款码</p>
		</a>
		<a href="/" class="Link_3 [[if $smarty.const.CONTROLLER_NAME eq 'Default']]on[[/if]]">
			<div class="ico"></div>
			<p>首页</p>
		</a>
		<a href="/?c=Service&a=online" class="Link_4 [[if $smarty.const.CONTROLLER_NAME eq 'Service']]on[[/if]]">
			<div class="ico"></div>
			<p>新手指引</p>
		</a>
		<a href="/?c=User" class="Link_5 [[if $smarty.const.CONTROLLER_NAME eq 'User']]on[[/if]]">
			<div class="ico"></div>
			<p>我的</p>
		</a>
	</div>
</div>