[[include file="head.html"]]
<style>
.layui-upload-file{display: none;}
</style>

<div class="bindCard">
	<!-- 顶部 -->
	<div class="HeadTop">
		<p class="Tit">绑定银行卡</p>
		<a href="/?c=User" class="backBtn"></a>
	</div>
	<div class="bindCardCon">
		<div class="Wrap">
			<div class="Row userid">
				<div class="ltbox">账号：</div>
				<div class="rtbox">[[$user.phone]]</div>
			</div>
			<div class="Row">
				<div class="ltbox">验证码：</div>
				<div class="rtbox">
					<div class="Insert code"><input type="text" id="smscode"></div>
					<a href="javascript:;" class="clickget" style="top:2px;width:6rem;">点击获取</a>
				</div>
			</div>
			<div class="Row">
				<div class="ltbox">开户行：</div>
				<div class="rtbox" style="background: #fff url('/public/home/images/sanjiao.png') no-repeat 96% center/1rem auto;border: 1px solid #d5d5d5;">
					<select id="bank_id" style="width:20rem;appearance: none;-moz-appearance: none;-webkit-appearance: none;background: transparent;border: 0;height: 3rem;padding: 0 1rem;">
						[[foreach from=$bank_arr item=vo]]
						<option value="[[$vo.id]]">[[$vo.bank_name]]</option>
						[[/foreach]]
					</select>
				</div>
			</div>
			<div class="Row">
				<div class="ltbox">姓名：</div>
				<div class="rtbox">
					<div class="Insert"><input type="text" id="bank_realname" value="[[$banklog.bank_realname]]" ></div>
				</div>
			</div>
			<div class="Row">
				<div class="ltbox">卡号：</div>
				<div class="rtbox">
					<div class="Insert"><input type="text" id="bank_account" value="[[$banklog.bank_account]]" ></div>
				</div>
			</div>
			<a href="javascript:;" class="bindBtn">绑定</a>
		</div>
	</div>
</div>

[[include file="js.html"]]
<script>
preventDefault();
$(function(){
	
	var ini_bank_id='[[$banklog.bank_id]]';
	if(ini_bank_id){
		$('#bank_id').val(ini_bank_id);
	}

	$('.clickget').on('click',function(){
		var obj=$(this);
		var phone='';
		if(obj.attr('is-timer')){
			return true;
		}
		ajax({
			url:global.appurl+'a=getPhoneCode',
			data:{phone:phone,stype:5},
			success:function(json){
				if(json.code!=1){
					_alert(json.msg);
					return;
				}
				smsTimer(obj);
			}
		});
	});
	
	$('.bindBtn').on('click',function(){
		var obj=$(this);
		var bank_id=$.trim($('#bank_id').val());
		var bank_realname=$.trim($('#bank_realname').val());
		var bank_account=$.trim($('#bank_account').val());
		var idcard=$.trim($('#idcard').val());
		var smscode=$.trim($('#smscode').val());
		var zfb_account=$.trim($('#zfb_account').val());
		var zfb_qrcode=$.trim($('#zfb_qrcode').val());
		var wx_account=$.trim($('#wx_account').val());
		var wx_qrcode=$.trim($('#wx_qrcode').val());
		var has_click=obj.attr('has-click');
		if(has_click=='1'){
			return;
		}else{
			obj.attr('has-click','1');
		}
		ajax({
			url:global.appurl+'c=User&a=bcardAct',
			data:{bank_id:bank_id,bank_realname:bank_realname,bank_account:bank_account,idcard:idcard,zfb_account:zfb_account,zfb_qrcode:zfb_qrcode,wx_account:wx_account,wx_qrcode:wx_qrcode,smscode:smscode},
			success:function(json){
				if(json.code!=1){
					obj.attr('has-click','0');
					_alert(json.msg);
					return;
				}
				_alert({
					content:json.msg,
					end:function(){
						location.href='/?c=User';
					}
				});
			}
		});
	});

});
</script>
[[include file="foot.html"]]