[[include file="head.html"]]
<div class="Home">
	<div class="HomeTop">
		<div class="wrap">			
			<!-- <a href="/?c=User&a=setting" class="setBtn"></a> -->
			<div class="headIco" style="background-image:url([[$user.headimgurl]]);"></div>
			<div class="info">
				<p class="userName">[[$user.account]]</p>
				<!-- 两个状态：on-line/off-line -->
				<p class="userState [[if $user.is_online]]on-line[[else]]off-line[[/if]]">[[$user.is_online_flag]]</p>
			</div>
			<a href="/?c=Finance&a=pay" class="fillCashBtn">充值</a>
		</div>
	</div>
	<div class="HomeCen">
		<ul>
			[[if 'cnf_xyhk_model'|getConfig eq '是']]
			<li><p>[[$team_num]]</p><p>团队人数</p></li>
			<li><p>[[$user.balance]]</p><p>可提余额</p></li>
			<li><p>[[$user.kb_balance]]</p><p>应回款</p></li>
			[[else]]
			<li><p>[[$user.sx_balance]]</p><p>接单余额</p></li>
			<li><p>[[$user.balance]]</p><p>可提余额</p></li>
			<li><p>[[$user.fz_balance]]</p><p>冻结余额</p></li>
			[[/if]]			
			<li><p>[[$order_num]]</p><p>订单数</p></li>
			<li><p>[[$order_money]]</p><p>订单总额</p></li>
			<li><p>[[$yong_money]]</p><p>提成</p></li>
		</ul>
	</div>
	<div class="HomeList">
		<ul>
			<li><a href="/?c=User&a=bcard"><i><img src="/public/home/images/ico7.png"></i><p>绑定钱包</p></a></li>
			<li><a href="/?c=Finance&a=cash"><i><img src="/public/home/images/ico8.png"></i><p>提币</p></a></li>
			[[if 'cnf_xyhk_model'|getConfig eq '是']]
			<li><a href="/?c=Finance&a=hkuan"><i><img src="/public/home/images/ico8.png"></i><p>回款</p></a></li>
			[[/if]]
			<li><a href="/?c=Tg"><i><img src="/public/home/images/ico9.png"></i><p>推荐二维码</p></a></li>
			<li><a href="/?c=User&a=team"><i><img src="/public/home/images/ico10.png"></i><p>我的团队</p></a></li>
			<li><a href="/?c=Finance&a=yong"><i><img src="/public/home/images/ico11.png"></i><p>分成记录</p></a></li>
			<li><a href="/?c=Finance&a=balancelog"><i><img src="/public/home/images/ico7.png"></i><p>资金明细</p></a></li>
			<li><a href="/?c=User&a=api"><i><img src="/public/home/images/ico21.png"></i><p>回调助手</p></a></li>
			<li><a href="/?c=User&a=setting"><i><img src="/public/home/images/ico15.png"></i><p>设置</p></a></li>
		</ul>
	</div>

	<!-- 底部导航 -->
	[[include file="menu.html"]]
</div>

[[include file="js.html"]]
<script>
preventDefault();
$(function(){
	$('.userState').on('click',function(){
		var obj=$(this);
		var has_click=obj.attr('has-click');
		if(has_click=='1'){
			return;
		}else{
			obj.attr('has-click','1');
		}
		ajax({
			url:global.appurl+'c=User&a=onlineSet',
			success:function(json){
				obj.attr('has-click','0');
				if(json.code!=1){
					_alert(json.msg);
					return;
				}
				obj.removeClass('on-line off-line');
				if(json.data.is_online=='1'){
					$('.userState').addClass('on-line');
				}else{
					$('.userState').addClass('off-line');
				}
				obj.html(json.data.is_online_flag);
			}
		});
	});
});
</script>
[[include file="foot.html"]]