[[include file="head.html"]]
<div class="setPassword3">
	<div class="HeadTop">
		<p class="Tit">修改登录密码</p>
		<a href="/?c=User&a=setting" class="backBtn"></a>
	</div>
	<div class="setPasswordCon">
		<div class="inputbox phone"><input type="text" id="phone" value="[[$user.phone]]" disabled></div>
		<div class="inputbox Vecode">
			<input type="text" id="smscode" placeholder="短信验证码">
			<a href="javascript:;" class="getVecodeBtn"><p>获取验证码</p></a>
		</div>
		<div class="inputbox password"><input type="password" id="newpwd" placeholder="请填写新登录密码"></div>
		<div class="inputbox password"><input type="password" id="newpwd_ck" placeholder="确认新密码"></div>
		<a href="javascript:;" class="confirmBtn">确定</a>
	</div>
</div>

[[include file="js.html"]]
<script>
preventDefault();
$(function(){

    $('.getVecodeBtn p').on('click',function(){
        var obj=$(this);
		var phone='';
        if(obj.attr('is-timer')){
            return true;
        }
        ajax({
            url:global.appurl+'a=getPhoneCode',
            data:{phone:phone,stype:4},
            success:function(json){
                if(json.code!=1){
                    _alert(json.msg);
                    return;
                }
                smsTimer(obj);
            }
        });
    });


    $('.confirmBtn').on('click',function(){
        var obj=$(this);
        var smscode=$.trim($('#smscode').val());
        var newpwd=$.trim($('#newpwd').val());
        var newpwd_ck=$.trim($('#newpwd_ck').val());
        if(newpwd!=newpwd_ck){
            _alert('密码两次输入不一致');
            return;
        }
        var has_click=obj.attr('has-click');
        if(has_click=='1'){
            return;
        }else{
            obj.attr('has-click','1');
        }
        if(newpwd){
            newpwd=md5(newpwd);
        }
        ajax({
            url:global.appurl+'c=User&a=passwordAct',
            data:{type:1,smscode:smscode,newpwd:newpwd},
            success:function(json){
                if(json.code!=1){
                    obj.attr('has-click','0');
                    _alert(json.msg);
                    return false;
                }
                _alert({
                    content:json.msg,
                    end:function(){
                       location.href='/?c=User&a=setting';
                    }
                });
            }
        });
    });

});


</script>
[[include file="foot.html"]]