[[include file="head.html"]]

<div class="Set">
	<div class="HeadTop">
		<p class="Tit">设置</p>
		<a href="/?c=User" class="backBtn"></a>
	</div>
	<div class="SetCon">		
		<div class="linkRow">
			<a href="/?c=User&a=password"><p>修改登录密码</p></a>
		</div>
		<div class="linkRow">
			<a href="/?c=User&a=password2"><p>修改二级密码</p></a>
		</div>
		<div class="linkRow">
			<a href="/?c=User&a=google"><p>谷歌验证</p></a>
		</div>
		<a href="/?c=Login&a=logoutAct" class="exitLoginBtn">退出登录</a>
	</div>
</div>

[[include file="js.html"]]
<script>
preventDefault();
$(function(){

});
</script>
[[include file="foot.html"]]